<%- include ('partials/header') -%>
<link rel="stylesheet" href="css/food.css">
    <section style="padding: 1rem;">

        <section style="margin-top:5.4rem;padding: 1rem;">

            <div class="uk-child-width-1-3@m" uk-grid>
                <div>
                    <div class="uk-card  uk-card-hover  uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="resources/doctor/d1.jpeg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">General Physicians</h3>
                            <p>The respective specialist would contact you as soon as possible.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-default">
                        <div class="">
                            <img src="resources/doctor/d2.jpeg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Pediatricians</h3>
                            <p>The respective specialist would contact you as soon as possible.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="resources/doctor/d3.jpeg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">General Surgeon</h3>
                            <p>The respective specialist would contact you as soon as possible.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="uk-child-width-1-3@m" uk-grid>
                <div>
                    <div class="uk-card  uk-card-hover  uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="resources/doctor/d4.jpeg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Cardiologist</h3>
                            <p>The respective specialist would contact you as soon as possible.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="resources/doctor/d5.jpeg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Dentist</h3>
                            <p>The respective specialist would contact you as soon as possible.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-default">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">More List</h3>
                            <p>Add more list to increase the community</p>
                        </div>
                    </div>
                </div>

            </div>



        </section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7">
                    <div>
                        <div class="">

                            <div class="h-100 p-5 border rounded-3">
                                <h2>Important pointers regarding your appointment</h2>
                                <p>Choose the doctor as per your need and book your appointment accordingly. Based on the factor
                                    of urgency,certain appointments would be given preference over the others seconds.If a situation persists, ambulance would be made available to the patient as soon as possible.
                                </p>

                            </div>
                            <br>
                            <div style="text-align: center;" class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <form>

                                            <h1 class="h3 mb-3 fw-normal">Please Fill in Details
                                            </h1>

                                            <div class="form-floating my-4">
                                                <input type="name" class="form-control" id="floatingInput"
                                                    placeholder="Name">
                                                <label for="floatingInput">Name</label>
                                            </div>
                                            <div class="form-floating my-4">
                                                <input type="number" class="form-control" id="floatingPassword"
                                                    placeholder="Phone No">
                                                <label for="floatingNumber">Contact Number</label>
                                            </div>
                                            <div class="form-floating my-4">
                                                <input type="name" class="form-control" id="floatingInput"
                                                    placeholder="Name">
                                                <label for="floatingInput">Address</label>
                                            </div>
                                            <div class="form-floating my-4">
                                                <input type="name" class="form-control" id="floatingInput"
                                                    placeholder="Name">
                                                <label for="floatingInput">Urgent/Medium/Low</label>
                                            </div>
                                            <button class="w-100 btn btn-lg btn-primary" type="submit">Order</button>
                                            

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ">
                    <img src="resources/doctor/dw.jpeg" alt="" srcset="">
                </div>
            </div>

        </div>

    </section>

    <%- include ('partials/footer') -%>