<%- include ('partials/header') -%>
<link rel="stylesheet" href="css/food.css">
<section style="padding: 1rem;">
        
    <section style="margin-top:5.4rem;padding: 1rem;">

        
        <div class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card  uk-card-hover  uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="resources/restaurent/r1.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">HelpAge India</h3>
                        <p>A leading charity working for the disadvantaged elderly of India, HelpAge India has been active for over four decades. It has one of the largest mobile healthcare programs across India, providing free healthcare services to destitute elders.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="">
                        <img src="resources/restaurent/r2.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Lepra Society</h3>
                        <p>Lepra Society had a systematic approach to dealing with the chronic disease. Its prime objective was to first identify its patients within an area via mass, contact and school surveys and then treats them with multi-drug therapy (MDT).
                            Lepra Society’s success encouraged them to extend a helping hand to victims of other maladies as well</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="resources/restaurent/r3.jpeg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Smile Foundation</h3>
                        <p>Inspired by the philosophy of Peter Senge, the founder of ‘Society for Organisational Learning’, a group of young corporate professionals founded Smile Foundation in 2002. They began working from scratch to bring about a difference in the lives of underprivileged families and communities. Since urban slum dwellers lack the education to be aware of diseases and healthcare, they do not approach hospitals for checkups out of risking a day’s wages.</p>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card  uk-card-hover  uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="resources/restaurent/r4.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Goonj</h3>
                        <p>Goonj address the basic but neglected issues of the poor and values the traditional wisdom of the local people. It enables them to participate in Goonj’s solutions and gives out urban material as reward.
                            Goonj has several campaigns, one of them being ‘Share a Bite to your Heart’s Delight.’ It is a venture to encourage people to contribute daily essentials like rice, pulses and so on to the less fortunate.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="resources/restaurent/r5.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Udaan Welfare Foundation</h3>
                        <p>Udaan Welfare Foundation works towards quality healthcare, keeping in mind a positive impact on the environment. It also works towards other causes that go hand-in-hand with healthcare, such as nutrition, taking sincere effort to achieve its ideals.
                            Several programs have been organised. Udaan carried out a dental health check in the Harikishan English Public School and taught 250 students the importance of the correct brushing techniques and oral care.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="resources/restaurent/rw.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Help us in feeding our people</h3>
                        <p>We have an ideology that no child should ever be food-deprived and that no child should ever go to bed with his stomach growling. To act on such an ideology and to achieve such a feat,  we may need your help.
                            On average, there is a daily count of about 100k weddings that takes place in Delhi. Accompanying weddings, there are multiple events, buffets, dinners, and even small gatherings.
                            All these events have one thing in common, which is Food wastage. We strive to counter this. Our volunteers would collect all the excess food from your event, which will be safely distributed to the less fortunate.
                            Just fill in the form, and our volunteers will contact you.</p>
                    </div>
                </div>
            </div>

        </div>
      
        

    </section>
    <div class="container ">
        <div class="row">
            <div class="col-lg-7">
                <div>
                    <div class="">
                    
                        <div class="h-100 p-5 border rounded-3">
                            <h2>Your Order</h2>
                            <p>Select The restaurent in which you want to take food from 
                                that particular Restaurent will provide good food within 30 minutes free of cost.</p>
                           
                        </div>
                        <br>
                        <div style="text-align: center;" class="container">
                            <div class="row">
                                <div class="col-6">
                                    <form>
                                       
                                        <h1 class="h3 mb-3 fw-normal">Please Fill in Details
                                        </h1>

                                        <div class="form-floating my-4">
                                            <input type="name" class="form-control" id="floatingInput"
                                                placeholder="Name">
                                            <label for="floatingInput">Name</label>
                                        </div>
                                        <div class="form-floating my-4">
                                            <input type="number" class="form-control" id="floatingPassword"
                                                placeholder="Phone No">
                                            <label for="floatingNumber">Contact Number</label>
                                        </div>
                                        <div class="form-floating my-4">
                                            <input type="name" class="form-control" id="floatingInput"
                                                placeholder="Name">
                                            <label for="floatingInput">Address</label>
                                        </div>
                                        <div class="form-floating my-4">
                                            <input type="name" class="form-control" id="floatingInput"
                                                placeholder="Name">
                                            <label for="floatingInput">Veg/Non Veg</label>
                                        </div>
                                        <button class="w-100 btn btn-lg btn-primary" type="submit">Order</button>
                                       
                                           
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 ">
                <img src="resources/restaurent/img.png"
                    alt="" srcset="">
            </div>
        </div>
        
    </div>
    
</section>

<%- include ('partials/footer') -%>
